<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Planit Test Suite" verbose="1">

    <listeners>
        <listener class-name="utils.TestListener"/>
    </listeners>

     <test name="HomePageTest">
        <parameter name="url" value="http://jupiter.cloud.planittesting.com"/>
        <classes>
            <class name="tests.HomePageTest"/>
        </classes>
    </test>

    <test name="ContactPageTest">
        <parameter name="url" value="https://jupiter.cloud.planittesting.com/#/contact"/>
        <classes>
            <class name="tests.ContactPageTest"/>
        </classes>
    </test>

    <test name="CartPageTest">
        <parameter name="url" value="https://jupiter.cloud.planittesting.com/"/>
        <classes>
            <class name="tests.CartTest"/>
        </classes>
    </test>

</suite>